		<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<input type="radio" name="slides" id="slides_4" />
				<ul class="banner_slide_bg">
					<li>
						<div class="container-fluid">
							<div class="w3ls_banner_txt">
								<h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2 banner__words">A Place to find your new best friend!</h3>
								<p>Help an animal in need find their Forever Home.</p>
								<!-- <a href="#about" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a> -->
							</div>
						</div>
					</li>
					<li>
						<div class="container-fluid">
							<div class="w3ls_banner_txt">
								<h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">More than just an App. It is a Connection!</h3>
								<p>Check us out, you might leave with a new friend!</p>
								<!-- <a href="#about" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a> -->
							</div>
						</div>
					</li>
					<li>
						<div class="container-fluid">
							<div class="w3ls_banner_txt">
								<h3 class="w3ls_pvt-title text-wh text-uppercase let mb-2">Looking for a new Best Friend?</h3>
								<p>Well, we have lots of new BFFs!</p>
								<!-- <a href="#about" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Read More</a> -->
							</div>
						</div>
					</li>
				</ul>
				<div class="arrows">
					<label for="slides_1"></label>
					<label for="slides_2"></label>
					<label for="slides_3"></label>
				</div>
			</div>
		</div>
		<!-- //banner -->

