    <div class="popular-wthree py-5" id="about">
      <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Welcome to Pupperitos Website</h3>
        <div class="row py-xl-4 text-center">
          <div class="col-sm-4 popular-wthree-grid">
            <img src="../../../assets/images/ab3.jpg" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <h5>Butch</h5>
            </div>
          </div>
          <div class="col-sm-4 popular-wthree-grid my-sm-0 my-4">
            <img src="../../../assets/images/ab2.jpg" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <h5>Rufus</h5>
            </div>
          </div>
          <div class="col-sm-4 popular-wthree-grid">
            <img src="../../../assets/images/ab1.jpg" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <h5>Bowser</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- //about -->
  <!-- about-bottom-grids -->
	<div class="wthree-about-bot-grid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 grid1-agile-new1">
				</div>
				<div class="col-md-6 inner-sub bg-li">
					<div class="px-xl-5 px-sm-4">
						<h3>We really care about our dogs since their birth.</h3>
						<a href="#" class="link-w3l1 btn button-style mt-md-5 mt-4">Read More</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 inner-sub bg-li text-md-right mb-md-0 mb-5">
					<div class="px-xl-5 px-sm-4">
						<h3>We guarantee you and your dog's happiness.</h3>
						<a href="#" class="link-w3l1 btn button-style mt-md-5 mt-4">Read More</a>
					</div>
				</div>
				<div class="col-md-6 grid1-agile-new2">
				</div>
			</div>
		</div>
	</div>
	<!-- //about bottom grids -->
