    <div class="popular-wthree py-5" id="about">
      <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Welcome to Pupperitos Website</h3>
        <div class="row py-xl-4 text-center">
          <div class="col-sm-4 popular-wthree-grid">
            <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/47286830/1/?bust=1580773554&width=600" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <a href="https://www.petfinder.com/dog/brandi-47286830/co/peyton/breeder-release-adoption-service-co308/?referrer_id=aa4daf68-2b45-4a49-8fe3-63ca605bc6cf" target="_blank">
              <h5>Brandi</h5>
              </a>
            </div>
          </div>
          <div class="col-sm-4 popular-wthree-grid my-sm-0 my-4">
            <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/47286831/1/?bust=1580773554&width=600" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <a href="https://www.petfinder.com/dog/charlie-47286831/co/peyton/breeder-release-adoption-service-co308/?referrer_id=aa4daf68-2b45-4a49-8fe3-63ca605bc6cf" target="_blank">
              <h5>Charlie</h5>
              </a>
            </div>
          </div>
          <div class="col-sm-4 popular-wthree-grid">
            <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/47286782/3/?bust=1580772695&width=600" class="img-fluid" alt="" />
            <div class="popular-wthree-text">
              <a href="https://www.petfinder.com/dog/lollipop-47286782/pa/blue-bell/hemlock-edge-rescue-pa887/?referrer_id=aa4daf68-2b45-4a49-8fe3-63ca605bc6cf" targe="_blank">
              <h5>Lollipop</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- //about -->
  <!-- about-bottom-grids -->
	<div class="wthree-about-bot-grid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 grid1-agile-new1">
				</div>
				<div class="col-md-6 inner-sub bg-li">
					<div class="px-xl-5 px-sm-4">
						<h3>The Pupperito App is coming soon!</h3>
						<!-- <a href="#" class="link-w3l1 btn button-style mt-md-5 mt-4">Read More</a> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 inner-sub bg-li text-md-right mb-md-0 mb-5">
					<div class="px-xl-5 px-sm-4">
						<h3>We hope we can save more lives and bring more happiness!</h3>
						<!-- <a href="#" class="link-w3l1 btn button-style mt-md-5 mt-4">Read More</a> -->
					</div>
				</div>
				<div class="col-md-6 grid1-agile-new2">
				</div>
			</div>
		</div>
	</div>
	<!-- //about bottom grids -->
